[submodule "fm-challenge-01"]
	path = fm-challenge-01
	url = https://github.com/alexbueckig/fm-challenge-01.git
[submodule "fm-challenge-02"]
	path = fm-challenge-02
	url = https://github.com/alexbueckig/fm-challenge-02.git
[submodule "fm-challenge-03"]
	path = fm-challenge-03
	url = https://github.com/alexbueckig/fm-challenge-03.git
[submodule "fm-challenge-04"]
	path = fm-challenge-04
	url = https://github.com/alexbueckig/fm-challenge-04.git
[submodule "fm-challenge-05"]
	path = fm-challenge-05
	url = https://github.com/alexbueckig/fm-challenge-05.git
[submodule "fm-challenge-06"]
	path = fm-challenge-06
	url = https://github.com/alexbueckig/fm-challenge-06
[submodule "fm-challenge-07"]
	path = fm-challenge-07
	url = https://github.com/AlexBueckig/fm-challenge-07
