[submodule "fm-challenge-01"]
	path = fm-challenge-01
	url = https://github.com/alexbueckig/fm-challenge-01.git
[submodule "fm-challenge-02"]
	path = fm-challenge-02
	url = https://github.com/alexbueckig/fm-challenge-02.git
[submodule "fm-challenge-03"]
	path = fm-challenge-03
	url = https://github.com/alexbueckig/fm-challenge-03.git
[submodule "fm-challenge-04"]
	path = fm-challenge-04
	url = https://github.com/alexbueckig/fm-challenge-04.git
[submodule "fm-challenge-05"]
	path = fm-challenge-05
	url = https://github.com/alexbueckig/fm-challenge-05.git
[submodule "fm-challenge-06"]
	path = fm-challenge-06
	url = https://github.com/alexbueckig/fm-challenge-06
[submodule "fm-challenge-07"]
	path = fm-challenge-07
	url = https://github.com/alexbueckig/fm-challenge-07
[submodule "fm-challenge-08"]
	path = fm-challenge-08
	url = https://github.com/alexbueckig/fm-challenge-08
[submodule "fm-challenge-09"]
	path = fm-challenge-09
	url = https://github.com/alexbueckig/fm-challenge-09
[submodule "fm-challenge-10"]
	path = fm-challenge-10
	url = https://github.com/alexbueckig/fm-challenge-10
[submodule "fm-challenge-11"]
	path = fm-challenge-11
	url = https://github.com/alexbueckig/fm-challenge-11
